---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

// 1️⃣ Génération des routes statiques
export async function getStaticPaths() {
  const pages = await getCollection("pages");

  return pages.map((page) => ({
    params: {
      slug: page.slug === "home" ? undefined : page.slug,
    },
    props: {
      page,
    },
  }));
}

// 2️⃣ Page courante
const { page } = Astro.props;
const { Content } = await page.render();
---

<BaseLayout title={page.data.title}>
  <article>
    <h1>{page.data.title}</h1>
    <Content />
  </article>
</BaseLayout>
